/* mukta-regular - latin */
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../../fonts/mukta-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/mukta-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/mukta-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/mukta-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/mukta-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/mukta-v13-latin-regular.svg#Mukta') format('svg'); /* Legacy iOS */
}

/* mukta-700 - latin */
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../../fonts/mukta-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/mukta-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/mukta-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/mukta-v13-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/mukta-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/mukta-v13-latin-700.svg#Mukta') format('svg'); /* Legacy iOS */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Mukta', sans-serif;
}

noscript {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #F0F0F0;
  text-align: center;

  div {
    width: min(90%, 45rem);

    img {
      width: 64px;
      height: auto;
    }
  }
}

.flex {
  display: flex;
  gap: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: min(90%, 45rem);
  margin-inline: auto;
}

input {
  width: 100%;
  padding: .5em 1.75em;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  outline: none;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 25px rgba(0 0 0 / 10%);
}

#calc {
  text-align: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .75rem;
}

.button {
  min-width: 5rem;
  max-width: 10rem;
  width: 10vw;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 600;

  background: #EEE;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  transition-duration: .25s;

  img {
    width: 32px;
    height: auto;
  }

  &:hover, &.active {
    background: #00B2FF;
    box-shadow: 0 5px 15px rgba(0 0 0 / 15%);
    cursor: pointer;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

#info {
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 32px;
  height: 32px;
  opacity: 50%;
}

#info-popup-wrapper {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .5s;

  &.active {
    top: 0;
  }

  #info-popup-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  > div {
    position: relative;
    width: min(90%, 40rem);
    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 1rem;
    transition-duration: .25s;

    @media screen and (min-width: 768px) {
      padding: 2.5rem;
    }

    @media screen and (min-width: 1300px) {
      padding: 3.75rem;
    }
  }
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  img {
    width: 100%;
    height: 100%;
  }
}